<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación API TCC - Lessons</title>

    <style>
        .method.post {
            background-color: #5cb85c;
            color: white;
        }

        .method.get {
            background-color: #337ab7;
            color: white;
        }

        .method.delete {
            background-color: #d9534f;
            color: white;
        }

        .method.string {
            background-color: #7c7c7c;
            color: white;
        }

        .method.required {
            background-color: #b04a4a;
            color: white;
        }

        .method {
            padding: 6px 12px;
            border-radius: 4px;
            display: inline-block;
        }
    </style>

    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

</head>

<body>

    <header>
        <%- include('../template/header'); -%>

            <h1>Lessons (Lecciones)</h1>
    </header>

    <div>
        <h3>Crear Lecciones</h3>
        <p>Crea una Leccione  para los alumnos.</p>
        <h4>HTTP Request</h4>
        <p class="notice">
            <span class="method post">POST</span>
            <a href="<%= host %>/api/teacher/lessons/create/{room}">
                <%= host %>/api/teacher/lessons/create/{room}
            </a>
        </p>

        <h4>Query Parameters</h4>
        <figure>
            <table>
                <thead>
                    <tr>
                        <td>parameter</td>
                        <td>description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>room</td>
                        <td><span class="method string">strgin</span> <span class="method required">required</span>
                            example: 1
                            <p>Se necesita proporcionar un id de aula</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </figure>


    </div>

    <div>
        <h3>Actualizar Lecciones</h3>
        <p>Actualiza una Leccion.</p>
        <h4>HTTP Request</h4>
        <p class="notice">
            <span class="method post">POST</span>
            <a href="<%= host %>/api/teacher/lessons/update/{lesson}">
                <%= host %>/api/teacher/lessons/update/{lesson}
            </a>
        </p>

        <h4>Query Parameters</h4>
        <figure>
            <table>
                <thead>
                    <tr>
                        <td>parameter</td>
                        <td>description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>lesson</td>
                        <td><span class="method string">strgin</span> <span class="method required">required</span>
                            example: 1
                            <p>Se necesita proporcionar un id de Leccion</p>
                        </td>
                    </tr>

                    <tr>
                        <td>title</td>
                        <td><span class="method string">strgin</span> <span class="method required">required</span>
                            example: New Title!
                            <p>Se necesita proporcionar un nuevo titulo de Lección</p>
                        </td>
                    </tr>

                    <tr>
                        <td>desc</td>
                        <td><span class="method string">strgin</span>
                            example: this a description
                            <p>Se necesita proporcionar una descripcion de Lección</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </figure>


    </div>

</body>

</html>